# ===============================
# Data (VERY IMPORTANT)
# ===============================
data/
dataset/
datasets/
images/
raw_data/
processed_data/
cleaned_dataset/

# ===============================
# Jupyter Notebooks
# ===============================
.ipynb_checkpoints/

# ===============================
# Python
# ===============================
__pycache__/
*.pyc

# ===============================
# OS files
# ===============================
Thumbs.db
.DS_Store
